.error {
  color: red;
}

.form {
  border: 1px solid #888;
  background-color: #fff;
  font-size: 1.5rem;
  height: auto;
  padding: 1.25rem;
}

.form-heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  font-weight: bolder;
  justify-content: space-around;
}

.input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.submit {
  background-color: blueviolet;
  border-radius: 1rem;
  color: white;
  font-weight: bolder;
  left: 5rem;
  position: relative;
  padding: 0.5rem;
}

.text-field {
  margin: 0.75rem 0rem;
  padding: 0.5rem;
  width: 15rem;
}

.task-heading {
  margin: 0 2.5rem;
}
